<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>day14_practice</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ShowProductServlet</display-name>
    <servlet-name>ShowProductServlet</servlet-name>
    <servlet-class>com.lixinxin.web.ShowProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowProductServlet</servlet-name>
    <url-pattern>/showProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCarServlet</display-name>
    <servlet-name>AddCarServlet</servlet-name>
    <servlet-class>com.lixinxin.web.AddCarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCarServlet</servlet-name>
    <url-pattern>/addCarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowShoppingCarServlet</display-name>
    <servlet-name>ShowShoppingCarServlet</servlet-name>
    <servlet-class>com.lixinxin.web.ShowShoppingCarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowShoppingCarServlet</servlet-name>
    <url-pattern>/showShoppingCarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCarServlet1</display-name>
    <servlet-name>AddCarServlet1</servlet-name>
    <servlet-class>com.lixinxin.web.AddCarServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCarServlet1</servlet-name>
    <url-pattern>/addCarServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowShoppingCarServlet1</display-name>
    <servlet-name>ShowShoppingCarServlet1</servlet-name>
    <servlet-class>com.lixinxin.web.ShowShoppingCarServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowShoppingCarServlet1</servlet-name>
    <url-pattern>/showShoppingCarServlet1</url-pattern>
  </servlet-mapping>
    <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
</web-app>